.s-input {
    border: 0;
    border-radius: $border-radius;
    padding: 12px 100px 12px 12px;
    // width: 314px;
    height: 39px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
}