// COLORS -----------------------------------------------------------------------------------
$primary: #6fcee4;
$secondary: #0C5C71;
$third: #77E1FC;
$fourth: #144A94;

// $success: blue;
// $danger: blue;
// $warning: blue;
// $info: blue;
// $light: blue;
// $dark: blue;
$yellow: #FFD944;
$white: white;
$navbar: black;
$grey: rgb(201, 201, 201);
$green: #417501;
$red-shade: rgb(255, 188, 188);
$red: rgb(189, 26, 26);


// FONTS -----------------------------------------------------------------------------------
$font14: 14px;
$font12: 12px;
$font16: 16px;
$font24: 24px;
$font40: 40px;





// OTHER VARIABLES -----------------------------------------------------------------------------------
$sprite: url("~assets/images/sprite.png");
$bulb: url("~assets/images/white-light-bulb.svg");
$background-size-sprite: 635px 2397px;
$border-radius: 5px;
$shadow-1: 1px 1px 4px hsla(0, 0%, 0%, 0.449);